@import url('https://fonts.googleapis.com/css?family=Finlandica:500|Josefin+Sans:700');

/*GENERAL */

:root {
    --color-text: #333333;
    --color-bg: #ffffff;
    --gray-color-bg: #ffffff80;
    --color-btn-border: #000000;
    --color-link-hover: #fd74ff;
    --pink: #fd74ff;
    --blue: #3771fc;
    --lite-purpure: #d4cafa;
    --purpure: #542a95;
    --lite-blue: #acc7fe;
    --color-nav: #000000;
    --font: Finlandica, Tahoma, sans-serif;
}

html {
    font-family: var(--font);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    /* Positioning */

    /* Block model */
    height: 100vh;
    margin: 0;

    /* Typography */

    /* Decoration */
    color: var(--color-text);
    background-color: var(--color-bg);

    /* Animation */

    /* Other */
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

button {
    /* border-width: 3px; */
    border: 3px solid #666;
    background: var(--color-bg);
    font-size: 24px;
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: 0.3s all;

}

a:hover {
    color: var(--color-link-hover);
    transition: 0.3s all;

}

/*MESSAGE */
.info-msg-container {
    width: 100%;
    height: 100px;
    color: var(--color-text);
    justify-content: center;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: var(--lite-purpure);
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.info-msg-container__show {
    display: flex;

    opacity: 1;

    animation: info-msg-show 500ms;
}

.info-msg-container__hide {
    opacity: 0;

    animation: info-msg-hide 500ms;
}

.grecaptcha-badge, .g-recaptcha {
    opacity: 0 !important;
}

/*BODY */

main {
    position: relative;

    width: 100%;
}

.container {
    position: relative;
}

.parallax-container {
    margin: 0 auto;
    perspective: 200px;
    /* min-height: 85vh; */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-front {
    width: 100%;
    top: 0%;
    position: relative;
    height: 450%;
    /* transform: translateZ(0px); */
}

/* SHAPES  */
.shapes {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: -1;
    width: 120%;
    height: 525%;
    transform: translateZ(-40px);
}

/* SECTIONS  */
.section {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 29%;
    opacity: 1;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-area: title;
    margin: 0 0 0.25em 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5em;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title span {
    position: relative;

    display: block;

    white-space: pre;
}

.description {
    display: flex;
    justify-content: center;
    max-width: 35%;
    font-size: 40px;
}

/* START-SECTION  */
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;

    background: var(--color-bg);
}

.navbar .nav-item {
    width: 110px;
    height: 60px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;

    border-style: solid;
    border-color: transparent;

    padding-top: 10px;
    padding-bottom: 5px;

    transition: 0.3s border-color;
}

.navbar .nav-item:hover {
    border-bottom-color: var(--pink);
    border-right-color: var(--pink);
    border-left-color: var(--pink);
    color: var(--color-link-hover);

    transition: 0.3s all;
}


.navbar .nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar .nav-item.logo {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 80px;
}

.navbar .nav-item.logo svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.short-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    visibility: hidden;
}

.short-navbar .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;
    padding: 10px;

}

/* START-SECTION  */

.start-section {
    top: 0;
    left: 0;
}

.start-section.section {
    height: 22%;
}

.start-section > .title {
    font-family: "Josefin Sans", Tahoma, sans-serif;
    font-size: 9em;
}


.start-section .title span:last-child {
    -webkit-animation: blink1 2s linear infinite;
    animation: blink1 2s linear infinite;
}

/* ABOUT-SECTION  */
.about-section {
    /*transform: skewY(5deg);*/
    box-shadow: 200px -19px 200px 0px var(--color-bg);
    background: var(--gray-color-bg);
    margin-bottom: 200px;
}


.about-section .rows {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    /* width: 80%;*/
    height: 60%;
    /* transform: translateZ(-20px); */
}


.about-section .img {
    width: 500px;
    height: 500px;
}

.about-section .img.head-img {
    background: url("../assets/imgs/IMG_9255.jpg");
    background-position-x: -70px;
    background-size: cover;
}

.about-section .img.last-img {
    background: url("../assets/imgs/DSC03022.jpg");
    background-position-x: -70px;
    background-size: cover;
}

/* ARTICLES-SECTION  */
.articles-section {
    background: #ffffff80;
    box-shadow: 200px -19px 200px 0px var(--color-bg);
}


.articles-section .description {
    display: flex;
    align-items: center;
    height: 20%;
    max-width: 70%;
}


.articles-section .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 58%;
}

.articles-section .card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    border: 3px solid transparent;

    font-size: 24px;
}

.articles-section .card:hover {
    border: 3px solid var(--pink);
}

.articles-section .cards .row {
    justify-content: space-around;
    /*margin: 50px 0;*/
}


.articles-section .card svg {
    margin-bottom: 5px;
    margin-top: -50px;
}

.articles-section .card:hover {
}

/* CONTACTS-SECTION  */

.contacts-section {
    position: relative;

    background: var(--gray-color-bg);
    box-shadow: 200px -19px 200px 0px var(--color-bg);
}

.contacts-section.section {
    max-height: 20%;
    z-index: 2;
}

.contacts-section .title {
    margin-bottom: 2%;
}

.contacts-section textarea, label, input, button {
    font-family: Finlandica, Tahoma, sans-serif;
}

.contacts-section .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
}

.contacts-section .form .control {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    min-height: 80px;
    padding: 10px 0;
    font-size: 24px;
    /* z-index: 8; */
}

.contacts-section .form .control .label {
    padding: 5px 0;
}

.contacts-section .form .control .input, .textarea {
    padding: 5px;
    border: 3px solid #666;
    outline: none;
    font-size: 24px;
}

.contacts-section .form .control .select option {
    padding: 5px 0;

    font-size: 20px;
}

.contacts-section .form .control .textarea {
    resize: none;
}

.contacts-section .form .actions {
    display: flex;
    justify-content: end;
    padding: 10px 0;
    /* font-size: 24px; */
}

.contacts-section .form .actions button {
    transition: 0.3s all;
}

.contacts-section .form .actions button:hover {
    cursor: pointer;
    color: var(--pink);
    border-color: var(--pink);

    transition: 0.3s all;
}


/* CONTACTS-SECTION  */

.socials-section {
    justify-content: space-evenly;

    background: var(--gray-color-bg);
    box-shadow: 200px -19px 200px 0px var(--color-bg);

}

.socials-section.section {
    z-index: 2;
    max-height: 10%;
    /* display: flex; */
    /* align-items: initial; */
    justify-content: center;
}

.socials-section .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    max-width: 800px;
    margin: 2% 0 0 0;
    align-items: center;
}

.socials-section .btns a {
    display: flex;
    justify-content: center;
    max-height: 70px;
    width: 70px;
    height: 70px;

    border: 3px solid transparent;
    transition: 0.3s all;
}

.socials-section .btns a > * {
    width: 70px;
    height: 70px;

    background-color: var(--color-text);
    transition: 0.3s all;
}

.socials-section .btns a:hover {
    border: 3px solid var(--pink);
    transition: 0.3s all;

}

.socials-section .btns a:hover > * {
    background-color: var(--pink);
    transition: 0.3s all;
}

.socials-section .btns .instagram-btn {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position-y: center;
    -webkit-mask-repeat: no-repeat;

    mask-image: url("../assets/icons/socials/instagram.svg");
    -webkit-mask-image: url("../assets/icons/socials/instagram.svg");
}

.socials-section .btns .behance-btn {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position-y: center;
    -webkit-mask-repeat: no-repeat;

    mask-image: url("../assets/icons/socials/behance.svg");
    -webkit-mask-image: url("../assets/icons/socials/behance.svg");

}

.socials-section .btns .telegram-btn {
    width: 50px !important;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position-y: center;
    -webkit-mask-repeat: no-repeat;

    mask-image: url("../assets/icons/socials/telegram.svg");
    -webkit-mask-image: url("../assets/icons/socials/telegram.svg");

}

.socials-section .btns .vk-btn {
    width: 50px !important;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position-y: center;
    -webkit-mask-repeat: no-repeat;


    mask-image: url("../assets/icons/socials/vk.svg");
    -webkit-mask-image: url("../assets/icons/socials/vk.svg");

    background-color: var(--color-text);
}

.socials-section .btns .youtube-btn {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position-y: center;
    -webkit-mask-repeat: no-repeat;

    mask-image: url("../assets/icons/socials/youtube.svg");
    -webkit-mask-image: url("../assets/icons/socials/youtube.svg");
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background: var(--color-bg);
    z-index: 16;
}

.footer .logo {
    width: 70px;
    height: 70px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/icons/safari-pinned-tab.svg");
}

.footer .rights {
    max-width: 500px;
}

.footer .nav {

}

.footer .nav .nav-item {

}

/* KEYFRAMES */

@-webkit-keyframes blink1 {
    0% {
        color: rgba(34, 34, 34, 1);
    }
    50% {
        color: rgba(34, 34, 34, 0);
    }
    70% {
        color: rgba(34, 34, 34, 1);
    }
    100% {
        color: rgba(34, 34, 34, 1);
    }
}

@keyframes blink1 {
    0% {
        color: rgba(34, 34, 34, 1);
    }
    50% {
        color: rgba(34, 34, 34, 0);
    }
    70% {
        color: rgba(34, 34, 34, 1);
    }
    100% {
        color: rgba(34, 34, 34, 1);
    }
}

@media screen and (max-width: 1900px) {
    .about-section, .articles-section, .socials-section, .contacts-section {
        /* transform: scale(.8); */
    }

    /*.section .title {*/
    /*    font-size: 4em;*/
    /*}*/
    /*.section .description {*/
    /*    font-size: 30px;*/
    /*}*/
    .start-section .title {
        font-size: 6em;
    }


    .articles-section .description {
        max-width: 80%;
    }
}

@media screen and (max-width: 1500px) {
    .start-section .title {
        font-size: 6em;
    }

    .articles-section .cards {
        width: 100%;
    }


}

@media screen and (max-width: 1300px) {
    .section {
        height: unset;
    }

    .row {
        flex-direction: column;
    }

    .section .title {
        font-size: 4em;
    }


    .start-section .title {
        font-size: 5em;
    }

    .about-section .description {
        padding: 40px;
        max-width: 80%;

        font-size: 30px;
        text-align: justify;
    }

    .about-section .row:last-child {
        flex-direction: column-reverse;
    }

    .articles-section .description {
        padding: 40px 0;

        font-size: 30px;
        text-align: justify;
    }


    .contacts-section, .socials-section {
        height: 20%;
    }
}


@media screen and (max-width: 800px) {
    .short-navbar {
        visibility: visible;
    }

    .section .title {
        font-size: 3em;
    }

    .start-section .title {
        font-size: 4em;
    }

    .navbar {
        height: 100%;
        align-items: center;
        flex-direction: column-reverse;

        display: none;
        opacity: 0;
        transition: 0.3s all;

    }

    .navbar.show {
        display: flex;
        transition: 0.3s opacity;
    }

    .navbar .logo {
        order: 1;
    }

    .about-section .img {
        width: 60%;
        height: 300px;
    }

    .about-section .img.head-img, .about-section .img.last-img {
        -ms-background-position-x: 0;
        background-position-x: 0;
    }

    .articles-section .card {
        width: 200px;
        height: 300px;
    }

    .articles-section .card {
        width: 200px;
        height: 300px;
    }

    .footer {
        height: unset;
        flex-direction: column;
    }

    .footer > * {
        padding: 20px;
    }
}


@media screen and (max-width: 40em) {
    .slide .title {
        font-size: 2em;
    }
}

